.footer {
  background-color: #bc4749;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  margin-top: 20px;
}

.icon {
  width: 50px;
}

.isi a {
  color: white;
  text-decoration: none;
}

.alamat {
  margin-bottom: 10px;
}
