body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #bc4749;
  align-items: center;
  position: static;
  width: 100%;
  z-index: 99;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 20px;
  justify-content: space-between;
  font-size: 19px;
  padding: 6px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

nav img {
  width: 130px;
  height: auto;
  padding: 8px;
  margin-left: 20px;
}
